<html>
    <head>
        <title>Minha Página</title>
    <head>

    <body>
        <header>
            <h1> Contato do Freddy </h1>
        <header>

        <section>
            <p> 11 91220-0000 </p>
        </section>
    </body>
</html>