<html>
    <head>
        <title>Minha Página</title>
    <head>

    <body>
        <header>
            <h1> Título do meu site </h1>
        <header>

        <section>
            <p> Aqui é minha página home </p>
        </section>
    </body>
</html>
