<html>
    <head>
        <title>Minha Página</title>
    <head>

    <body>
        <header>
            <h1> Sobre o Freddy </h1>
        <header>

        <section>
            <p> Louco da Cabeça </p>
        </section>
    </body>
</html>